.kv-container {
  background-image: url("https://dszfbyatv8d2t.cloudfront.net/curatorial/twtrip/sr_4000x520_rsz.jpg");
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.interview-container {
  width: 100%;
  background-color: rgb(238, 238, 238);
  font-family: "微軟正黑體";
}
